<h2>{{ feed.getTitle() }}</h2>
<p><em>Showing {{ feed.getItems()|length }} items</em></p>
{% for item in feed.getItems() %}

    <hr>
    <h3><a href="{{ item.getLink() }}" target="_blank">{{ item.getTitle() }}</a></h3>
    <p>Published: {{ item.getDate()|date("F jS \\a\\t g:ia") }}</p>
    <p>{{ item.getDescription()|striptags  }}</p>

{% endfor %}

